@using GuestBook.Controllers
@model PaginatedList<GuestBook.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>GuestBook</h1>

<div class="col-md-5">
        <form method="GET" asp-action="Index" class="row" autocomplete="off" >
        <div class=" col-xs-1">
        <input type='number' name="pageNumber" value="" min="1", max= "@Model.TotalPages">
        <input type="submit" class="btn btn-primary" value="Choose page" a>
        </div>
        </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Description
            </th>
            <th>
                Created Date
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>

                <form asp-action="Delete" asp-route-id="@item.Id">
                    <div class="btn-group btn-group-sm">
                        <a asp-action="AddOrEdit" asp-route-id="@item.Id" class="btn btn-warning">
                        <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Are you sure to delete this record?')"><i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
